.container,
.first_screen_container {
  width: 100%;
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 968px) {
  .container,
.first_screen_container {
    max-width: 91.15%;
  }
}
@media screen and (max-width: 568px) {
  .container,
.first_screen_container {
    max-width: 91.15%;
  }
}

.first_screen_container {
  position: relative;
}

.header {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  max-width: 1440px;
  width: 100%;
}
@media screen and (max-width: 968px) {
  .header {
    width: 100%;
    z-index: 1;
  }
  .header.menu-open::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 568px) {
  .header {
    width: 100%;
  }
}

.header_content {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-items: center;
}
@media screen and (max-width: 968px) {
  .header_content {
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    position: initial;
  }
}
@media screen and (max-width: 568px) {
  .header_content {
    padding: 25px 0;
    margin: 0 auto;
  }
}

.logo_wrapper {
  width: 142px;
}

.logo_wrapper_mobile {
  display: none;
}
@media screen and (max-width: 968px) {
  .logo_wrapper_mobile {
    display: unset;
    width: 80%;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  gap: 85px;
}
@media screen and (max-width: 968px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    align-items: flex-end;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: flex-end;
    background-color: #8ac8d1;
    width: 80%;
    z-index: 3;
    box-shadow: -10px 0px 25px -7px rgba(0, 0, 0, 0.7);
    padding-top: 130px;
    transform: translateX(150%);
  }
  .nav.active {
    transform: none;
  }
}

.nav_list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 968px) {
  .nav_list {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    gap: 20px;
  }
}
.nav_list .nav_item_link {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  position: relative;
}
.nav_list .nav_item_link:hover:after {
  content: "";
  background-color: #000;
  width: 70%;
  height: 1px;
  display: block;
  position: absolute;
  bottom: -6px;
  left: 13%;
}
@media screen and (max-width: 968px) {
  .nav_list .nav_item_link:hover {
    color: #EFEEF3;
  }
  .nav_list .nav_item_link:hover:after {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
  }
}
@media screen and (max-width: 968px) {
  .nav_list .nav_item_link {
    font-size: 30px;
    width: 100%;
    display: block;
    padding: 10px 0;
  }
}

.search_button {
  width: 17px;
  height: 17px;
}
@media screen and (max-width: 968px) {
  .search_button {
    width: 20px;
    margin: 0 auto;
  }
}

.hamburger_wrapper {
  display: none;
}
@media screen and (max-width: 968px) {
  .hamburger_wrapper {
    display: block;
  }
}

main {
  padding-top: 100px;
}

.first_screen_wrapper {
  background-image: url(../img/first-page-background.jpg);
  background-repeat: no-repeat;
  padding: 300px 0;
  width: 100%;
  background-size: cover;
  margin-bottom: 90px;
}
@media screen and (max-width: 968px) {
  .first_screen_wrapper {
    background-image: url(../img/first-page-background-tablet.jpg);
    background-repeat: no-repeat;
    padding: 170px 0;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 568px) {
  .first_screen_wrapper {
    background-image: url(../img/first-page-background-phone.jpg);
    background-repeat: no-repeat;
    padding: 250px 0;
    margin-bottom: 70px;
    background-size: cover;
  }
}

.first_screen_header {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 2.4px;
  position: absolute;
  bottom: 100px;
  max-width: 770px;
  width: 100%;
}
@media screen and (max-width: 968px) {
  .first_screen_header {
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 1.8px;
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 568px) {
  .first_screen_header {
    position: absolute;
    bottom: -40px;
    font-size: 30px;
    letter-spacing: 1.5px;
    width: 100%;
  }
}

.blog_section,
.latest_posts_section,
.most_popular_section,
.info_section {
  margin-bottom: 90px;
}
@media screen and (max-width: 968px) and (max-width: 568px) {
  .blog_section,
.latest_posts_section,
.most_popular_section,
.info_section {
    margin-bottom: 70px;
  }
}

.blog_section_header {
  color: #000;
  font-family: "Red Hat Display";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.4px;
  margin-bottom: 50px;
}
@media screen and (max-width: 568px) {
  .blog_section_header {
    text-align: center;
  }
}

.article {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
@media screen and (max-width: 968px) {
  .article {
    align-items: start;
    gap: 20px;
  }
}
.article:last-child {
  flex-direction: row-reverse;
}
@media screen and (max-width: 568px) {
  .article {
    align-items: start;
    gap: 20px;
    flex-direction: column-reverse;
  }
  .article:first-child {
    margin-bottom: 50px;
  }
  .article:last-child {
    flex-direction: column-reverse;
  }
}

.article_content {
  max-width: 450px;
}
@media screen and (max-width: 968px) {
  .article_content {
    width: 50%;
  }
}
@media screen and (max-width: 568px) {
  .article_content {
    width: 100%;
  }
}

.article_image {
  width: 570px;
}
@media screen and (max-width: 968px) {
  .article_image {
    width: 50%;
  }
}
@media screen and (max-width: 568px) {
  .article_image {
    width: 100%;
  }
}

.subheader {
  color: #7B7B7B;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
  margin-bottom: 30px;
}

.article_header {
  color: #000;
  font-family: Red Hat Display;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2.3px;
  margin-bottom: 15px;
}

.date {
  color: #7B7B7B;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px;
  margin-bottom: 50px;
}
@media screen and (max-width: 968px) {
  .date {
    margin-bottom: 29px;
  }
}

.article_text {
  color: #565656;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 0.8px;
}
.article_text::after {
  margin-left: 25px;
  content: url(../img/arrow-1.svg);
}
@media screen and (max-width: 568px) {
  .article_text::after {
    content: "";
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 568px) {
  .heading {
    align-items: start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
}
.heading .heading_text {
  color: var(--base-black, #000);
  font-family: Red Hat Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 2.8px;
}

.see_all_button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.button_content {
  color: var(--grey-500, #7B7B7B);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
}
.button_content:after {
  content: url(../img/arrow-2.svg);
  margin-left: 20px;
}

.articles {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.articles .post {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}
.articles .post:hover img {
  transform: scale(1.3);
  transition: all 1s ease;
}
.articles .post:hover .post_img {
  box-shadow: -14px -13px 30px -10px #757575;
}
.articles .post .post_img {
  overflow: hidden;
}

.latest_posts_section .post {
  flex-direction: column;
  gap: 20px;
}

.post_heading {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 568px) {
  .post_heading {
    margin-bottom: 25px;
  }
}
.post_heading .tag,
.post_heading .post_date {
  color: var(--grey-500, #7B7B7B);
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.description .description_title {
  color: var(--base-black, #000);
  font-family: Red Hat Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 166%;
  /* 36.52px */
  letter-spacing: 2.2px;
}
.description .description_text {
  color: var(--grey-700, #565656);
  /* Heading / H5 */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  /* 26.56px */
  letter-spacing: 0.8px;
}

.load_more_button {
  padding: 10px 45px;
  background-color: #565656;
  margin: 0 auto;
  display: block;
}
.load_more_button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.load_more_button {
  cursor: url(../img/cursor.svg), pointer;
}
.load_more_button .button_text {
  color: var(--base-white, #FFF);
  /* Heading / H7 */
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 166%;
  /* 26.56px */
  letter-spacing: 1.6px;
}

.info_section_content {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.info_section_content .side_content {
  width: 100%;
}
.info_section_content .side_content .arrow {
  width: 24px;
  height: 12px;
}
@media screen and (min-width: 968px) {
  .info_section_content .side_content {
    width: 100%;
  }
}
@media screen and (min-width: 568px) {
  .info_section_content .side_content {
    width: 100%;
  }
}
.info_section_content .info_header {
  color: var(--base-black, #000);
  /* Heading / H3 */
  font-family: Red Hat Display;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  /* 38.18px */
  letter-spacing: 2.3px;
  margin-bottom: 20px;
}
@media screen and (max-width: 968px) {
  .info_section_content .info_header .arrow {
    margin-bottom: 70px;
  }
}
.info_section_content .info_description {
  color: var(--grey-700, #565656);
  /* Heading / H4 */
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 168.421% */
  letter-spacing: 0.95px;
  text-align: end;
}
.info_section_content .info_description:first-child {
  margin-bottom: 30px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 968px) {
  .about {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.footer {
  background-color: #F4F4F4;
  padding: 70px 135px 30px;
  margin: 0 auto;
}
@media screen and (max-width: 968px) {
  .footer {
    padding: 50px 0;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 968px) {
  .cta {
    gap: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 568px) {
  .cta {
    text-align: center;
  }
}
.cta .cta_header {
  color: var(--base-black, #000);
  font-family: Red Hat Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 2.4px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media screen and (max-width: 968px) {
  .contacts {
    align-items: center;
  }
}
.contacts .contact_phone,
.contacts .contact_email {
  color: var(--base-black, #000);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.6px;
}

.social_list {
  display: flex;
  gap: 25px;
}

.href {
  display: flex;
  justify-content: center;
  cursor: url(../img/cursor.svg), pointer;
}

.item_link {
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  padding: 10px;
  background-color: #EFEEF3;
  box-sizing: border-box;
  cursor: url(../img/cursor.svg), pointer;
}
.item_link:hover {
  background-color: #565656;
}
.item_link:hover svg {
  --p1: #FFFFFF;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.instagram {
  width: 26px;
  height: 24px;
}

.facebook {
  width: 14px;
  height: 24px;
}

.linkedin {
  width: 24px;
  height: 24px;
}

.twitter {
  width: 30px;
  height: 24px;
}

.rights {
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  letter-spacing: 1.2px;
  display: block;
  text-align: center;
}

@media screen and (max-width: 968px) {
  .main {
    padding-top: 70px;
  }

  .most_popular_section .articles {
    gap: 20px;
  }
}
@media screen and (max-width: 968px) and (max-width: 568px) {
  .most_popular_section .articles {
    align-items: start;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 968px) and (max-width: 568px) {
  .most_popular_section .post {
    width: 100%;
  }
}
@media screen and (max-width: 968px) and (max-width: 968px) {
  .most_popular_section .post .post_heading {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 968px) and (max-width: 968px) {
  .most_popular_section .post .description {
    gap: 10px;
  }
}
@media screen and (max-width: 968px) {
  .info_section {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 968px) {
  .info_section_content {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 968px) {
  .latest_posts_section .post_img {
    width: 50%;
  }
}
@media screen and (max-width: 968px) and (max-width: 568px) {
  .latest_posts_section .post_img {
    width: 100%;
  }
}
@media screen and (max-width: 968px) {
  .latest_posts_section .articles {
    flex-direction: column;
  }
  .latest_posts_section .articles .post {
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
  .latest_posts_section .articles .post:nth-child(2) {
    flex-direction: row-reverse;
  }
  .latest_posts_section .articles .post .post_content {
    width: 50%;
  }
}
@media screen and (max-width: 968px) and (max-width: 568px) {
  .latest_posts_section .articles .post .post_content {
    width: 100%;
  }
}
@media screen and (max-width: 968px) and (max-width: 568px) {
  .latest_posts_section .articles .post {
    flex-direction: column;
  }
  .latest_posts_section .articles .post:nth-child(2) {
    flex-direction: column;
  }
}
@media screen and (max-width: 968px) {
  .social {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 968px) {
  .nav_buttons {
    display: flex;
    gap: 40px;
    z-index: 4;
    align-items: center;
  }
}