body {
    font-family: 'Farro', sans-serif;
    font-family: 'Francois One', sans-serif;
    font-family: 'Staatliches', cursive;
    font-family: 'Tourney', cursive;
    font-family: 'PT-Sans', bold;
    font-family: 'PT-Sans', italic;
    font-family: 'PT-Sans', normal;
    font-family: 'Roboto', medium;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}

.header_container {
    max-width: 1200px;
    padding: 13px 120px;
    margin: 0 auto;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.site_language {
    color: #000;
    text-align: center;
    font-family: 'Tourney';
    font-size: 22px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.88px;
}

.nav_links {
    display: inline-flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

}

.link_item {
    color: #000;
    font-family: 'Staatliches';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.66px;
}

.slash {
    color: #000;
    font-family: 'Staatliches';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.66px;
}

main {
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 841px 140px;
    background-size: 54%;
}

.page_wrapper {
    padding-top: 140px;
    padding-bottom: 90px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
}


.sidebar {
    width: 365px;
    height: 440px;
    padding: 10px;
    position: sticky;
    top: 140px;
}

.main_text {
    display: flex;
    width: 785px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;


}

.nav_item {
    color: #000;
    font-family: Francois One;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #BDBDBD ;




}

.nav_list {
    display: flex;
    width: 385px;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
}

.chapter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}


.chapter_header {
    color: #000;
    font-family: 'Francois One';
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.sub_header {
    position: relative;
    top: -25px;
    color: #000;
    font-family: 'Farro';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.chapter_text {
    color: #000;
    font-family: 'PT-Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}

.underline {
    text-decoration-line: underline;
    color: #000;
    font-family: 'PT-Sans';
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
}

.italic {
    font-family: 'PT-Sans';
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
}

.bold {
    color: #000;
    font-family: 'PT-Sans';
    font-size: 28px;
    font-style: bold;
    font-weight: 700;
    line-height: 48px;
}

.bg {
    color: #000;
    font-family: 'PT-Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    background-color: rgb(212, 212, 212);

}

.divider {
    width: 100px;
    height: 8px;
    background-color: #000;
    margin-bottom: 20px;
}