* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: column-reverse;
}




h1 {
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'Bebas Neue';
    font-size: 50px;
    color: #272727;
}


li {
    margin-bottom: 15px;
    font-family: 'Permanent Marker';
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
    color: rgb(83, 83, 83);
}

li:hover {
    transform: scale(1.16);
    transition: all 0.1s ease-in-out;
    color: #272727;
}