* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

h1 {
    padding-top: 20px;
    padding-bottom: 50px;
}


li {
    margin-bottom: 15px;
        font-family: Helvetica;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
}

