body {
    max-width: 4096px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

.main_wrapper {
    border: 25px solid #2B81AC;
    background-color: #39C;
    min-height: 100vh;
    padding: 60px 140px 0
}

.container {
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
}

.main_title {
    color: #FFF;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

.weather_grid_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    margin-bottom: 37px;
    background-color: #fff;
    outline: 2px solid #fff;
}



.footer_text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.w50 {
    grid-column: span 2;
}

.w25 {
    grid-column: span 1;
}

.w100 {
    grid-column: span 4;
}

.weather_item {
    margin: 0 auto;
    text-align: center;
    padding: 26px 0;
    width: 100%;
    outline: 2px solid #fff;


    .city {
        color: #FFF;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .temp {
        color: rgba(255, 255, 255, 0.70);
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 12px;
    }
}



.light_blue {
    background-color: #39c;
}

.sky_blue {
    background-color: #33CCCC;
}

.lavander_gray {
    background-color: #996699;
}

.red {
    background-color: #C24747;
}

.orange {
    background-color: #E2674A;
}

.yellow {
    background-color: #FFCC66;
}

.light_green {
    background-color: #99CC99;
}

.olive {
    background-color: #669999;
}

.green {
    background-color: #339966;
}

.lavander {
    background-color: #666699;
}

.icon {
    color: #fff;
}



.weather_info {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        &:nth-child(2) {
            color: rgba(255, 255, 255, 0.70);
            font-size: 42px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}